.THIS .home  {
    background-color: #bfe8a7;;
}
.THIS .navbar-header {
    color: #7f7f7f;
    width: 100%;
}
.THIS .templatemo-content-wrapper {
    float: left;
    width: 100%;
}
.THIS .margin-bottom-30 {
    margin-bottom: 30px;
}
.THIS .templatemo-content {
    margin-left: 235px;
    margin-top: 0px;
    min-height: 600px;
    padding: 25px 20px 0 20px;
    background-color: white;
    overflow-x: hidden;
}
 @media (min-width: 768px){
.THIS .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    }
}
@media screen and (min-width: 992px){
.THIS .templatemo-sidebar {
    width: 235px;
    float: left;
    position: relative;
    margin-right: -100%;
    }}
.THIS .templatemo-sidebar {
    padding: 0;
    margin-top: 20px;
}
.THIS .dd {
    padding-top:7px;
     margin-top: 0px !important;
    
}

.THIS .templatemo-sidebar .templatemo-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.THIS  :before,.THIS :after {
    
    box-sizing: border-box;
}
.THIS .right-gap-10 {
    margin-right: 10px !important;
}

.THIS .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}
.THIS .navbar-inverse {
    background-color: black;
    border-color: #080808;
}
.THIS .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.THIS .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.THIS .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.THIS .navbar-header {
    color: #7f7f7f;
    width: 100%;
}
.THIS .text-right {
    text-align: right;
}
.THIS .pull-right {
    float: right!important;
}
.THIS .top-gap-10 {
    margin-top: 10px !important;
}
.THIS .logo {
    display: inline-block;
}
.THIS .logo h1 {
    font-size: 24px;
    margin: 10px 15px;
}
  .THIS  .col-md-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
   font-size: 15px;
}
.THIS .row {
    margin-right: -15px;
    margin-left: -15px;
}

.THIS .navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.THIS .navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
.THIS .navbar {
    position: relative;
    min-height: 50px;
    
    border: 1px solid transparent;
}