.THIS .customButton{
   background-color: #5bc0de;
   border-color: #46b8da;
   color: #fff;
   
}
.THIS .fieldMargins
{
    margin-top: -1rem;
    margin-bottom: -1rem;
}
.THIS .fieldMarginsfordate
{
    margin-top: -0.5rem;
    margin-bottom: -1rem;
}
.THIS .requirdField
{
 color:rgb(194, 57, 52);   
}
.THIS .labels
{
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.THIS .pull-right {
    float: right!important;
}
.THIS .text-right {
    text-align: right;
}
.THIS .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.THIS .colorchange{
 background-color: whitesmoke;
 
   
}
.THIS .colorchanges{
 background-color: white;
  padding: 0px;
 font-weight: bold; 
   
}
.THIS .customButtonColor{
   background-color: #5bc0de;
	border-color: #46b8da;
     color: #fff;
    font-weight: bolder;
    font-size: 20px;
  }

.THIS .customButtonsize{
  height:50px; 
  color: #fff;
  font-weight: bolder;
  font-size: 20px;
   
 
}

.THIS .customsaveButtonsize{
  color: #fff;
}
.THIS .demo{
  font-weight: bolder;
  font-size: 13px;
}
.THIS .formfields{
  font-weight: bolder;
  font-size: 14px;

}

.THIS hr {
    height: 1px;
    margin: 7px 0;
    background: none;
    border: 0;
    border-bottom: 1px dotted #07A7FF;
}

.THIS.dots-here{
    display: flex;
    width: 100%;
    border-bottom: 1.75px dotted skyblue;
    flex: 1;
    
}
.THIS.myBtn  {
    width: 40px;
    width: 100px;
}
.THIS .thicker {
  font-weight: 900;
}

.THIS .title h1 {
    line-height: 55px!important;
}
.THIS h1 {
    font-size: 30px;
    font-weight: 600;
    
}
.THIS h2 {
    font-size: 20px;
    font-weight: 600;
    
}